body{color:#333;
	background: #eee;

	font-family:"Helvetica","Hiragino Sans GB","Microsoft Yahei",sans-serif;font-size:14px;
}
header{
	width: 1050px;
	height: 54px;
	margin: 0 auto;
}
.logo img{
	width: 172px;
}
.logo{
	float: left;
}
.search-bar{
	/*display: inline-block;*/
	text-indent: 250px;

	line-height: 54px;	
}
.search-bar input{
	box-sizing: border-box;
	width: 300px;
	height: 36px;
	padding: 8px;

	border: 0;
	border-radius: 5px;
}
.search-bar input:after{
	
}